body{
    text-align:center;
    font-family:"Roboto",sans-serif;
}

#startStopBtn{
    margin:0 auto;
    color:#6060AA;
    background-color:rgba(0,0,0,0);
    border:0.15em solid #6060FF;
    border-radius:0.3em;
    transition:all 0.3s;
    box-sizing:border-box;
    width:12em; height:3em;
    line-height:2.7em;
    cursor:pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
}

#startStopBtn:hover{
    box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
}

#startStopBtn.running{
    background-color:#FF3030;
    border-color:#FF6060;
    color:#FFFFFF;
}

#speedtestLayoutBlock {
    width:20em;
    height:16em;
    position:relative;
    box-sizing:border-box;
}

div.meterText{
    position:absolute;
    bottom:1.55em; left:0;
    width:100%;
    font-size:2.5em;
    z-index:9;
}

div.testArea{
    width:20em;
    height:16em;
    position:relative;
    box-sizing:border-box;
}

div.progressArea{
    width:20em;
    height:16em;
    position:relative;
    box-sizing:border-box;
}
div.testName{
    position:absolute;
    top:0.1em; left:0;
    width:100%;
    font-size:1.4em;
    z-index:9;
}

div.meterText:empty:before{
    content:"0.00";
}

div.unit{
    position:absolute;
    bottom:2em; left:0;
    width:100%;
    z-index:9;
}
div.testArea canvas{
    position:absolute;
    top:0; left:0; width:100%; height:100%;
    z-index:1;
}

.page-header
{
  color: rgb(57, 73, 156); /*pantone reflex blue papier mat*/
  border-color: rgb(177,214,59);
}

@media all and (max-width:65em){
    body{
        font-size:1.5vw;
    }
}

@media all and (max-width:40em){
    body{
        font-size:0.8em;
    }
    div.testGroup{
        display:block;
        margin: 0 auto;
    }
}