<html>

<head>
	<meta name="viewport" 
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico">
	<title i18n>Local Link Speedtest</title>
</head>

<body>
	<div id="speedtestLayoutBlock">
		<div class="page-header" style="margin-top: 0px;">
			<h2 i18n>
				Local Link Speed Test
			</h2>
		</div>
		<div id="speedtestGauge">
			<div id="testWrapper">
				<div class="testGroup">
					<button id="startStopBtn" (click)="startStop()" type="button" 
							class="btn btn-default btn-lg" >
						<span i18n>Test Connection</span>
					</button>
					<div class="testArea">
						<div class="testName" i18n>
							Download
						</div>
						<canvas id="dlMeter" class="meter"></canvas>
						<div id="dlText" class="meterText">{{ speed }}</div>
						<div class="unit" i18n>
							Mbps
						</div>
					</div>
					<div class="progressArea">
						{{ progress }}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>